@{
    Layout = null;
    ViewBag.Title = "Erro";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>

    <style>

        body {
            background-color: #427ab3;
            color: white;
        }

    </style>

</head>
<body>

    <hgroup>

        <h1><span class="fa fa-lock" style="margin-right:15px;"></span>Não autorizado</h1>
        <h2>O usuário selecionado não possui permissão para acessar o recurso requisitado.</h2>

    </hgroup>

</body>
</html>